<!DOCTYPE html>
<html lang="en">
<head th:replace="layout1 :: head('Dashboard')"></head>

<body>
<div th:replace="layout1 :: nav"></div>
<div th:replace="layout1 :: flash"></div>

<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="layout1 :: sidebar"></div>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>

            <!-- Icon Cards-->
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-file-alt"></i>
                            </div>
                            <div class="mr-5"><p th:text="${nmbNew}">26</p> New Manuscripts</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" th:href="@{/manuscripts}">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>



                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-clipboard-check"></i>
                            </div>
                            <div class="mr-5"><p th:text="${nmbRev}"></p> Complete Reviews</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" th:href="@{#completed-reviews-table}">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-info o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-user-edit"></i>
                            </div>
                            <div class="mr-5"> <p th:text="${nmbRev}"></p> Manuscripts Under Review</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" th:href="@{/reviews}">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-danger o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                            <div class="mr-5"><p th:text="${nmbDel}"></p> Reviews After Deadline</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                                 <i class="fas fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>


            </div>


            <!-- DataTables Example -->
            <div name="completed-reviews-table" class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Manuscripts with Completed Reviews</div>
                <div class="card-body">
                    <div class="table-responsive table-striped">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th th:colspan="${number}">Reviews</th>
                                <!--<th>Review 2</th>-->
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="manuscript, iStat : ${manuscripts}">
                                <td th:text="${iStat.count}">3</td>
                                <td th:text="${manuscript.title}">Title</td>
                                <td th:each="author: ${manuscript.authors}">
                                    <p th:text="${author.name}"></p>
                                </td>
<!--                                <td th:text="${manuscript.author}">Authors</td>-->
<!--                                <td style="display: table-cell" th:class="'badge badge-' + ${manuscript.alert1}" th:text="${manuscript.review1Suggestion}"></td>-->
<!--                                <td style="display: table-cell" th:class="'badge badge-' + ${manuscript.alert2}" th:text="${manuscript.review2Suggestion}">Approve</td>-->
                                <td class="text-center"><a th:href="@{'manuscripts/' + ${iStat.index}}"><i class="fas fa-external-link-alt"></i> </a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
 <div th:replace="layout1 :: footer"></div>

    </div>
    <!-- /.content-wrapper -->

</div>

<div th:replace="layout1 :: scroll"></div>
<div th:replace="layout1 :: modal"></div>
<div th:replace="layout1 :: scripts"></div>

</body>
</html>